.team_container {
  max-width: 800px;
  margin: 35px auto;
  /* border: 2px solid yellow; */
  background: #f4f4f4;
  height: 485px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.team_container h6,
h3 {
  text-align: center;
}
.team_image {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.pic img {
  width: 253.5px;
}
@media (max-width: 480px) {
  .team_container {
    width: 90rem;
    margin-left: 20rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .team_container {
    width: 90rem;
    margin-left: 20rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .team_container {
    width: 90rem;
    margin-left: 20rem;
  }
}
