.blog_one {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.blog_img img {
  width: 220px;
}
.blog_calender img {
  width: 40px;
}
.Blog_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 2px solid red; */
  max-width: 440px;
  margin: auto;
  height: 520px;
}
.blog_text img {
  width: 150px;
}
.Blog_title h6 {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
}
.Blog_title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
}
.Blog_title h5 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
.button_button2 {
  padding: 15px 35px;
  color: white;
  background-color: #091242;
  border: none;
}
.button_button1 {
  text-align: center;
}
@media (max-width: 480px) {
  .Blog {
    width: 90rem;
  }
}
